<!DOCTYPE html>
<html>
  <head>
    <title>Cartão Alimentação</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <% alert_class = case name
              when :notice then "success"
              when :alert then "danger"
              else name
            end %>
            <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= msg %>
            <% end %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 offset-md-2">
          <%= yield %> 
        </div>
      </div>
    </div>
  </body>
</html>
